.avatar {
  border-radius   : 50%;
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin-right    : 5px;
  background-color: #808080;

  img{
      border-radius: 50%;
  }

  .initials {
      color         : #FFFFFF;
      letter-spacing: 0.2625px;
  }
}
